{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h3 class="text-center">
            <b>{{ 'Votre compte affilié a été créé'|trans }}</b>
        </h3>

        <p>{{ 'Je vous remercie! Vous recevrez un e-mail avec votre jeton d''affilié dès que votre compte sera activé.'|trans }}</p>
    </div>
{% endblock %}
